
.Box {
  position: absolute;
  top: 0;
  /* border: 1px solid red; */
  background-color: #9b9ead;
  width: 150px;
  height: 150px;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
}